body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    border: none;
    border-radius: 16px;
  }
  
  button.primary {
    background-color: #FF8484;
    color: white;
  }

    button.primary:hover {
        background-color: #693535;
    }